.container{
    display: flex;
    justify-content: left;
    align-items: center;
    gap:30px ;
}
.logo{
    
    height: 50%;
   
}
.recipe {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(234, 233, 238);
    padding: 30px;
    
}
.hero{
    background-image:url(https://www.coca-cola.com/content/dam/onexp/uz/uz/brand-coca-cola/uzbek_coca_cola_desktop_1440x810.jpg/width2674.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;}

   .hero-contect{
        width: 100%;
        text-align: center;
        color: aqua;}

 h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img{
    justify-content: center;

  }
  a:hover{
    background-color: crimson;
    border-radius: 20px;
  }
footer{
    background-color:black;
    height: 100px;
    color: rgb(252, 252, 252);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}