body {
    background-color: #eee;
    text-align: center;
    background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
}

h1,h2,h3,h4,h5,h6 {
    color: green;
    font-size: 25px;
    border: 15px solid blue;
    border-radius: 30px;

}
img,iframe {
    border: 10px solid white;
    border-radius: 30px;
}
