.grid{
display: grid;
gap: 18px;
height: 300px;
width: 300px;
grid-template-columns: 1fr 1fr 1fr 1fr  ;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.span-2{
grid-column: span 2;
}
.grid > div{
    background-color: rgb(135, 130, 122);
    display: flex;
    justify-content: center;
    align-items:center ;
    border-radius: 5px;
}
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}